/* .meet {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.inpt {
  height: 4vh;
  width: 20vw;
  outline: none;
  border: 2px solid black;
  margin-right: 10px;
  background-color: rgb(249, 214, 169);
  padding-left: 10px;
  border-radius: 5px;
}

.btn {
  height: 4vh;
  width: 10vw;
  outline: none;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}
.btn:hover {
  background-color: #4780f3;
}
@media only screen and (min-width: 767px) {
  /* .meet {
    display: flex;
    justify-content: center;
    margin-top: 50%;
  } */
  .meet .inpt {
    width: 15rem;
  }
  .meet .btn {
    width: 10rem;
  }
}
